@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.font {
	font-family: 'Pretendard-Regular';
}

.fn-font1 {
	font-family: 'Pretendard-Regular';
	font-size:10pt;
	float:left;
	margin:2px;
	margin-bottom:0px;
}

.fn-font2 {
	font-family: 'Pretendard-Regular';
	font-size:10pt;
	color:darkgray;
	float:left;
	margin-top:2px;
}

.fn-font3 {
	font-family: 'Pretendard-Regular';
	font-size:24pt;
	margin-top:14px;
	margin-right:4px;
	float:left;
}

.fn-font4 {
	font-family: 'Pretendard-Regular';
	font-size:12pt;
	margin-top:28px;
	float:left;	
}

#content {
	display: flex;	
	justify-content: space-around;
	margin-top:40px;
}

#content > .item {
	width:26%;
	height:600px;
}

.item > img {
	width: 100%;
	height: 250px;
}

.monitor2 {
	width: 354px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.monitor9 {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.monitor6 {
	width: 354px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.item .info {
	background: #fff;
	padding: 20px;
	margin-left:20px;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.button-row {
	width: 100%;
	height:80px;
	text-align: right;
}

.btn-sm {
	margin-top:20px;
	padding: 6px 12px;
	font-size:12px;
	color:black;
	width:auto;
	border:2px solid #ddd;
	background-color:white;
}

.info > h3 {
	font-size:24px;
	color:rgba(0,0,0,0.9);
}
