@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
	font-family: 'Pretendard-Regular';
	margin: 0px;
	padding:0px;
    box-sizing: border-box;
}

ul {
	margin:0px;
	padding:0px;
	list-style:none;
	
	width:100%;
	height:45px;
	margin-top:16px;
}

li{
	margin:0px;
	padding:0px;
	list-style:none;
}

h2 {
	width:100%;
	margin:25px 0 0 0;
    font-size: 28pt;
   	text-align:center;
   	border-bottom:4px;
}

.bottom {
	box-sizing:border-box;
	background:#e8e8e8;
	width:100%;
	height:290px;
	position:absolute;
	top:180px;
} 

.search {
	position:absolute;
	top:50px;
    left:540px;
}

select {
	width: 100px;
	padding: 5px;
	height:40px;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance : none;
	
	
}

#searchKey {
	height:40px;
	width: 220px;
}

select::-ms-expand {
	display: none;
}
table.res_table {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: 20px 10px;
  position:absolute;
  top:250px;
  left:520px;
  padding:100;

}

table.res_table th {
  width: 155px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color:black;
  position:absoulte;
  margin:auto;
  right:30px;
}

#input {
	width:200px;
	height:40px;
	margin-left:40px;
}

#submit {
	position:absolute;
	left:500px;
	bottom:80px;
	margin-top:20px;
	padding: 6px 12px;
	font-size:14px;
	color:black;
	width:420px;
	height:50px;
	border:2px solid #ddd;
	background-color:white;
}